<div class="col-md-6 col-md-offset-3">
    <h3>Accommodation Types</h3>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let acc of accommodationTypes">

                <td>
                    <inline-editor type="text" [(ngModel)]="acc.Name" (onSave)="onEdit(acc)" name="Name"></inline-editor>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="delte(acc)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>



    <h4>Add Accommodation Type</h4>
    <div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
            <div>
                <label for="Name">Name</label>
                <input type="text" class="form-control" name="Name" ngModel>
            </div>
            <input type="submit" class="btn btn-default">
        </form>
    </div>

    <!--
    <br/><br/>
    <app-map #map></app-map>
    <br/><br/>
    <app-accommodation [clickedLat]="map.clickedLat" [clickedLong]="map.clickedLong"> </app-accommodation>

    <br/><br/>
    <app-global-map> </app-global-map>
    -->
</div>