<div class="col-md-6 col-md-offset-3">
    <h2 id="name">{{ acc.Name }}</h2>
    <fieldset class="rating">
        <p>Ocenite smeštaj:</p>
        <input type="radio" id="star5" name="rating" class="acc-rating" value="5" /><label for="star5" title="Odlično!">5 stars</label>
        <input type="radio" id="star4" name="rating" class="acc-rating" value="4" /><label for="star4" title="Poprilično dobro">4 stars</label>
        <input type="radio" id="star3" name="rating" class="acc-rating" value="3" /><label for="star3" title="Dobro">3 stars</label>
        <input type="radio" id="star2" name="rating" class="acc-rating" value="2" /><label for="star2" title="Može bolje">2 stars</label>
        <input type="radio" id="star1" name="rating" class="acc-rating" value="1" /><label for="star1" title="Loše">1 star</label>
    </fieldset>
    <div class="images">
        <img [src]="acc.ImageURL" />
    </div>
    <div class="acc-box">
    </div>
    <hr />
    <table class="details">
    </table>
    <div class="rooms">
        <h3>Rooms</h3>
        <table class="table table-striped table-hover">
            <thead>
                <th>Bed count</th>
                <th>Description</th>
                <th>Price per night</th>
                <th>Number of rooms</th>
            </thead>
            <tbody>
                <tr *ngFor="let r of rooms">
                    <td>{{r.BedCount}}</td>
                    <td>{{r.Description}}</td>
                    <td>{{r.PricePerNight}}</td>
                    <td>{{r.RoomNumber}}</td>
                </tr>
        </table>
    </div>
    <hr />
    <div id="comments">
        <h3>Komentari</h3>
        <button type="button" class="btn btn-primary" id="showReview">Napiši komentar</button>
        <div class="writeComment" style="display: none">
            <textarea id="commentDesc"></textarea>
        </div>
    </div>
</div>